extends layout 
block content
  header 
 
   
  main
    div(id="container")
      div(class="divTime") 
        h1(class="promocja")="Promocja"
        h2(class="promocja")="Loty do wybranych miast przecenione do -30%"
        p(id="time")
  script(src="/js/script.js")